__pycache__/
howard.egg-info/
.pytest_cache/
.cache
.vscode
.coverage
.tmp
.git
.github
.gitignore
.obsidian
.benchmarks
.vscode
.dockerignore
tests/databases/annovar/
tests/databases/snpeff/
tests/databases/genomes/
tests/databases/refseq/
tests/databases/hg19.fa
tests/databases/hg19.fa.fai
tests/databases/.DS_Store
tests/data/TEM*
howard/functions/duckdb_extension
build/
dist/
benchmark/
notes/
kubernetes/
tmp/
misc/
**.DS_Store
snpEff_*
