__pycache__/
howard.egg-info/
.pytest_cache/
.cache
.vscode
.coverage
tests/databases/annovar/
tests/databases/snpeff/
tests/databases/genomes/
tests/databases/refseq/
tests/databases/hg19.fa
tests/databases/hg19.fa.fai
tests/databases/.DS_Store
