pandas~=2.1
duckdb~=1.0
pyarrow~=14.0
bio~=1.5
pyvcf3~=1.0
dask~=2023.9
pytest~=7.4
coverage~=7.3
fastparquet~=2023.8
polars~=0.20
genomepy~=0.16
flake8~=6.1
lazy~=1.5
pynose~=1.4
pyfaidx~=0.7
multiprocesspandas~=1.1
bgzip~=0.4
pgzip~=0.3
mgzip~=0.2
pysam~=0.21
jproperties~=2.1
psutil~=5.9
markdown~=3.5
tabulate~=0.9
md_toc~=8.2
numpy~=1.26
Pillow~=10.2
colored~=2.2
pygtrie~=2.5
re-wx~=0.1
typing-extensions~=3.10
mypy-extensions~=0.4
wxpython~=4.2
gooey~=1.0