pandas==2.1.0
duckdb==0.9.1
pyarrow==13.0.0
bio==1.5.9
pyvcf3==1.0.3
dask==2023.9.0
pytest==7.4.1
coverage==7.3.1
fastparquet==2023.8.0
polars==0.20.8
genomepy==0.16.1
flake8==6.1.0
lazy==1.5
pynose==1.4.8
pyfaidx==0.7.2.2
multiprocesspandas==1.1.5
bgzip==0.4.0
pgzip==0.3.5
mgzip==0.2.1
pysam==0.21.0
jproperties==2.1.1
psutil==5.9.6
markdown==3.5.2
tabulate==0.9.0
md_toc==8.2.3
Pillow==10.2.0
colored==2.2.4
pygtrie==2.5.0
re-wx==0.1.0
typing-extensions==3.10.0.2
mypy-extensions==0.4.3
wxpython==4.2.1
gooey==1.0.8.1